*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  font-size: 2rem;
  background-color: #cddf9a;
}

h4 {
  margin: 1rem;
}

.div__container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  border: 2.5px solid black;
  background-color: rgb(133, 133, 133);
  border-radius: 0.5rem;
}
.form__container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  border: 2.5px solid rgb(70, 39, 157);
  background-color: #ac9adf;
  border-radius: 0.5rem;
}

.btn__click {
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgb(130, 218, 135);
  border: 2.5px solid rgb(23, 103, 27);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.box__legend {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 2px dotted rgb(0, 0, 0);
  border-radius: 0.5rem;
}

.div__container {
  display: none;
}
.section__container {
  width: 80vw;
  height: auto;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  padding: 1rem;
  background-color: #987fde;
  border-radius: 0.5rem;
}

.span__cntnr {
  margin: 1rem 1rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 0.5rem;
  font-size: 4rem;
  transition: all 250ms;
}

.span__cntnr:hover {
  box-shadow: 0px 0px 2.8px -2px rgba(0, 0, 0, 0.119),
    0px 0px 6.1px -2px rgba(0, 0, 0, 0.181),
    0px 0px 11.3px -2px rgba(0, 0, 0, 0.223),
    0px 0px 21.2px -2px rgba(0, 0, 0, 0.251),
    0px 0px 45.2px -2px rgba(0, 0, 0, 0.27),
    0px 0px 110px -2px rgba(0, 0, 0, 0.28);
  scale: 1.02;
  cursor: default;
}

div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  animation: clickEffect 0.25s ease-out;
  z-index: 99999;
}
@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.25em;
    height: 0.25em;
    margin: -0.125em;
    border-width: 0.25em;
  }
  100% {
    opacity: 0.2;
    width: 2em;
    height: 2em;
    margin: -1em;
    border-width: 0.02em;
  }
}

::selection {
  color: none;
  background: none;
}
