*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --border--radius: 2rem;
}

body {
  position: fixed;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}

.not__selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

section {
  width: 22.5rem;
  height: 22.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem rgb(77, 77, 77) solid;
  border-radius: 50%;
  background: radial-gradient(#0a091828, #5255787d);
}

article {
  height: 22rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
}

.hour__hand {
  width: 7rem;
  height: 0.5rem;
  transform-origin: 0;
  border-radius: 0.5rem;
  margin-top: -0.25rem;
  background-color: rgb(137, 137, 137);
}
.minutes__hand {
  width: 10rem;
  height: 0.3rem;
  background-color: rgb(93, 93, 213);
  transform-origin: 0;
  border-radius: 0.5rem;
}

.seconds__hand {
  width: 10rem;
  height: 0.15rem;
  transform-origin: 0;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
}

.blocks {
  margin-left: 12rem;
  position: fixed;
  width: 2rem;
  height: 0.2rem;
  background-color: rgb(169, 169, 169);
  border-radius: 0.25rem;
}
.one {
  transform-origin: -8.5rem;
  transform: rotate(240deg);
}

.two {
  transform-origin: -8.5rem;
  transform: rotate(90deg);
  background-color: white;
  height: 0.3rem;
}
.three {
  transform-origin: -8.5rem;
  transform: rotate(180deg);
  background-color: white;
  height: 0.3rem;
}
.four {
  transform-origin: -8.5rem;
  transform: rotate(-90deg);
  background-color: white;
  height: 0.3rem;
}
.five {
  transform-origin: -8.5rem;
  transform: rotate(-30deg);
}
.six {
  transform-origin: -8.5rem;
  transform: rotate(-60deg);
}
.seven {
  transform-origin: -8.5rem;
  transform: rotate(30deg);
}
.eight {
  transform-origin: -8.5rem;
  transform: rotate(60deg);
}
.nine {
  transform-origin: -8.5rem;
  transform: rotate(120deg);
}
.ten {
  transform-origin: -8.5rem;
  transform: rotate(150deg);
}
.eleven {
  transform-origin: -8.5rem;
  transform: rotate(210deg);
}
.twelve {
  background-color: white;
  height: 0.3rem;
}

.curr__time {
  margin-top: 2rem;
  font-size: 2rem;
  color: gray;
}
